<section class="header-section">
  <nav class="navShell">
    <div class="navContainer">
      <div class="schoolNameContainer">
        <span>
          <a href="#">
            <!-- <img src="assets/school-logo.png" alt="School Logo" /> -->
            <img src="assets/School-logo.png" alt="School Logo" />
          </a>
        </span>
        <strong>Om English Primary School</strong>
        <img src="assets/Founder-photo.png" alt="Founder Photo" />
      </div>

      <div class="headerNavContainer">
        <a [routerLink]="[]" fragment="about-section">About</a>
        <a [routerLink]="[]" fragment="admissions-section">Admissions</a>
        <a [routerLink]="[]" fragment="gallery-section">Gallery</a>
        <a [routerLink]="[]" fragment="features-section">Features</a>
        <a [routerLink]="[]" fragment="contact-section">Contact Us</a>
      </div>
    </div>
  </nav>
</section>
