.navShell {
  width: 100%;

  @media (min-width: 48rem) {
    width: 75%;
    max-width: 70rem;
    margin: 1rem auto;
    border-radius: 1.5rem;
    overflow: hidden;
    box-shadow: 0 0.3rem 0.8rem rgba(0, 0, 0, 0.08);
  }
}

.navContainer {
  display: flex;
  flex-direction: column;
}

.schoolNameContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem 1rem 2rem;
  font-weight: bolder;
  color: #d51b15;
  text-align: center;

  strong {
    font-size: 2.5rem;
  }

  @media (max-width: 47.99rem) {
    flex-direction: column;
    padding: 1rem 2rem;

    strong {
      font-size: 2.8rem;
      text-align: center;
    }
  }

  img {
    width: 8rem;
    max-width: 20rem;
    height: auto;
    display: block;

    @media (max-width: 47.99rem) {
      padding-bottom: 0.5rem;
      width: 8rem;
      max-width: 15rem;
    }
  }
  :nth-child(3) {
    width: 7rem;
    max-width: 15rem;
  }
}

.headerNavContainer {
  background-color: #da2924;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;

  a {
    color: #fff;
    text-decoration: none;
    font-size: 1.75rem;
  }

  @media (max-width: 47.99rem) {
    flex-wrap: wrap;
    gap: 0.5rem 0.5rem;
    padding: 1rem 0.25rem;
    a {
      font-size: 1rem;
      flex-direction: row;
      justify-content: space-between;
      text-align: center;
    }
  }
}
