<section id="admissions-section">
  <h3 class="admissions-promo">Secure Your Child’s Seat Today!</h3>

  <div id="admissions-container">
    <div class="admissions">
      <h2>Admissions</h2>
      <ul>
        <li>Admissions open from nursery to 4th std.</li>
        <li>Age 3+ for Nursery</li>
      </ul>
      <h5>For more details contact :</h5>
      <ol>
        <li>Phone: 07222-238633</li>
        <li>Pramod Yadav: 9850167551</li>
        <li>Ajay Bagde: 9604747591</li>
      </ol>
    </div>
  </div>
</section>
