<div class="navContainer">
  <div class="schoolNameContainer">
    <span>
      <a href="#"> <img src="school-logo.jpg" alt="School Logo" /></a>
    </span>
    <strong>Om English Primary School</strong>
    <img src="school-logo.jpg" alt="Founder Photo" />
  </div>
  <div class="headerNavContainer">
    <!-- <mat-toolbar color="{{ color1 }}"> -->
    <!-- <span class="spacer"></span> -->
    <!-- Adds spacing to push the links to the right -->
    <a href="#about">About</a>
    <a href="#admissions">Admissions</a>
    <a href="#events">Events</a>
    <a href="#gallery">Gallery</a>
    <a href="#contact">Contact</a>
    <!-- </mat-toolbar> -->
  </div>
</div>
