#about {
  display: flex;
  flex-wrap: wrap;
  padding: 2.5rem;
  box-sizing: border-box;

  .topContent {
    width: 50%;
    padding-right: 1.25rem;

    &:first-of-type {
      font-size: 3.5rem;
      font-weight: bold;
      color: #da2924;
      margin-bottom: 0;
      margin-top: 1rem;
    }

    &.school-tagline {
      margin-top: 0.615rem;
      text-align: end;
      font-style: italic;
      font-size: 2.25rem;
    }
  }

  @media (max-width: 48rem) {
    .topContent {
      width: 100%;
    }
  }
}

#message2-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
}

.message-card {
  flex: 1 1 100%;
  background-color: #f9f9f9;
  border: 0.0625rem solid #ccc;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0.1rem 0.2rem 0.7rem 0.3rem #917f7f;

  &:hover {
    transform: scale(1.005);
    transition: transform 1s medium;
  }
}

.message-card h3 {
  margin-bottom: 0.5rem;
}

.message-card a {
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
  font-size: 0.9rem;
}

/* Desktop layout */
@media screen and (min-width: 48rem) {
  .message-card {
    flex: 1 1 45%;
  }
}
