<section id="gallery-section">
  <div class="main-container">
    <h2 class="section-title">Campus Moments</h2>
    <div class="gallery-container">
      <button
        mat-icon-button
        color="primary"
        class="nav prev"
        (click)="onPrev()"
      >
        <mat-icon>chevron_left</mat-icon>
      </button>

      <div #slider class="gallery-slider">
        <div
          class="slide mat-elevation-z2"
          *ngFor="let img of images(); let i = index"
        >
          <!-- NgOptimizedImage for responsive srcset, lazy loading, size hints -->
          <img
            ngSrc="{{ img }}"
            width="400"
            height="300"
            alt="Gallery image {{ i + 1 }}"
            priority
          />
        </div>
      </div>

      <button
        mat-icon-button
        color="primary"
        class="nav next"
        (click)="onNext()"
      >
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>
  </div>
</section>
