<section class="contact" id="contact-section" aria-labelledby="contact-heading">
  <h2 id="contact-heading">Contact&nbsp;Us</h2>

  <p class="school-name">Om English Primary School</p>
  <div class="contact-wrapper">
    <div class="contact-left">
      <p>
        Near Ramdev Baba Mandir,<br />
        Bhagat Singh Chowk,<br />
        Dhamangaon Railway
      </p>
    </div>

    <div class="contact-right">
      <p>
        <strong>Email: </strong>
        <a href="mailto:omenglishschool@gmail.com"
          >omenglishschool&#64;gmail.com</a
        >
      </p>

      <p>
        <strong>Phone: </strong>
        <a href="tel:+917222238633">07222&ndash;238633</a>
      </p>

      <p>
        <strong>Mobile: </strong>
        <a href="tel:+919850167551">9850167551</a>
      </p>
    </div>
  </div>
</section>
